<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title><%= title %> - Team Sign Up</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-5" rel="stylesheet">
</head>
