<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "UT Dallas"}); %>

<body class="utd-mall">
    <section class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/images/LOGO.png" width="200" height="85"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/login">LOG IN</a></li>
                    <!--<li><a href="/register">REGISTER</a></li>-->
                </ul>
            </div>
        </nav>
    </section>

    <div class="index-logo">
        <div class="index-logo-box">
            <img src="/images/LOGO2-WHITE.png" />
        </div>
    </div>
</body>

</html>